{
  "extends": "rallycoding",
  "rules": {
    "max-len": "warn",
    "no-underscore-dangle": "off",
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "sort-imports": "off",
  }
}
