{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": "off"
  }
  // "rules": {
  //   "max-len": "warn",
  //   "no-underscore-dangle": "off",
  //   "prefer-const": [
  //     "error",
  //     {
  //       "destructuring": "any",
  //       "ignoreReadBeforeAssign": false
  //     }
  //   ],
  //   "sort-imports": "off",
  // }
}
